.TopArtistsContainer {
    display:grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'topArtistsInfo'
    'topArtistsInfo'
    '.             ';
}

.TopArtistsInfo{
    grid-area: topArtistsInfo;
}



/* .TopArtistsImg{
    position: fixed;
    margin-top: 10px;
    left:25px;
    border-radius: 100%;
    object-fit: cover;
    width: 75px;
    height: 75px;
} */

