
.TopArtistsContainer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    '.              .          .'
    'topArtistImage topArtistsInfo '
    '.           .           . ';
background-color:  #1FDC3E;
margin: 0%;
}

.TopArtistsHeader{
    grid-area: header;
}

.TopArtistsImage{
    grid-area: topArtistImage;
    max-width: 50px;
    left: 0;
}

.TopArtistsInfo{
    grid-area: topArtistsInfo;
    max-height: fit-content;
    margin: 0px;
}

.TopArtists{
    margin-top: 100px;
}



/* .TopArtistsImg{
    position: fixed;
    margin-top: 10px;
    left:25px;
    border-radius: 100%;
    object-fit: cover;
    width: 75px;
    height: 75px;
} */

