.ProfileDetailsContainer{
    display:grid;
    grid-template-columns:  250px repeat(2, 1fr) 150px; 
    grid-template-rows: 150px repeat(2, 300px) 150px;
   grid-template-areas:
    ".     .          .       ."
    "navigation     userDetails     userDetails ."
    "navigation     topArtists     TopSongs ."
    "navigation     topArtists     TopSongs ."
    "navigation     footer          footer      footer"

}


.UserDetails{
   grid-area: userDetails;

} 

.UserDetails div {
    display:inline-block;
}
.NavBar{
    grid-area: navigation
}

.TopArtists{
grid-area: topArtists

}

.TopSongs{
    grid-area: TopSongs;
}
