.ProfileDetailsContainer{
    background-color: #181818;
    color: white;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns:  250px repeat(2, 1fr) 150px; 
    grid-template-rows: 40px repeat(2, 300px) 150px;
    grid-template-areas:
    ".     .          .       ."
    "navigation     userDetails     userDetails ."
    "navigation     topArtists     TopSongs ."
    "navigation     topArtists     TopSongs ."
    "navigation     footer          footer      footer"

}


.UserDetails{
   grid-area: userDetails;

} 

.UserDetails div {
    display:inline-block;
}
.NavBar{
    grid-area: navigation
}

.TopArtists{
grid-area: topArtists

}

.TopSongs{
    grid-area: TopSongs;
}
