.TopTracksContainer {
    display:grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'topTracksInfo'
    'topTracksInfo'
    '.            ';
}

.TopTracksInfo{
    grid-area: topTracksInfo;
}